body {
  background-image: url('http://www.expo.fct.unl.pt/sites/www.expo.fct.unl.pt/files/imagens/logo_expo_fct_2016.png');
  background-repeat: no-repeat;
  background-position: 85% 10px;
  background-size: 120px;
}

.page-header h1 {
  background-color: white;
  display: inline-block;
  margin-top: 0;
}
