@font-face {
	font-family: "Delicious Roman Italic";
	src: local("Delicious Roman Italic"), url(fonts/Delicious-Italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-style: normal;
	font-family: "Delicious Roman";
	src: local("Delicious Roman"), url(fonts/Delicious-Roman.otf);
	font-weight: normal;
}


html, body {
	margin: 0;
	overflow: hidden;
	padding: -21px 0 0 0;
}



#addRSSForm {
	background-color: #cecece;
	display:none;  
	position:fixed;  
	border:2px solid #acacac; 
	border-radius: 10px; 
	z-index:1001;  
	padding:12px;  
	font-family: Verdana;
	line-height: 14px;
}

#rssurl {
	font-family: Verdana;
	line-height: 12px;
	width: 15px;
}

#showAddRSSForm {
	background-image: url(images/addrss.png);
	position: fixed;
	bottom:-18px;
	right: 15px;
	width: 96px;
	height: 96px;
	cursor: pointer;
}

#backgroundPopup{  
	display:none;  
	position:fixed;  
	height:100%;  
	width:100%;  
	top	:0;  
	left:0;  
	background:#000000;  
	z-index:1000; 
	opacity: 0.5;
}

.bloco {
	width: 250px;
	height: 250px;
	margin: 0 0 100px 42px;
	cursor: pointer;
	float: left;
}

.bloco_imagem {
	position: relative;
	width: 250px;
	height: 250px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
	top: -250px;
	color: white;
	font-family: Verdana;
	font-size: 11px;
}

.bloco_fundo {
	position: relative;
	width: 250px;
	height: 250px;
	background-color: black;
	z-index: -1;
	opacity: 0.7;
}

.bloco_titulo {
	width: 200px;
	height: 200px;
	position: relative;
	top: -500px;
	color: white;
	font-family: "Delicious Roman Italic";
	padding: 10px;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
}

.bloco_descricao {
	width: 250px;
	height: 250px;
	position: relative;
	top: -725px;
	z-index: 3;
	bottom: 0;
}

.bloco_descricao_texto {
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	padding: 0 5px 0 5px;
	font-family: Verdana;
	font-size: 12px;
	text-align: justify;
}

.close {
	position: relative;
	width: 42px;
	height: 42px;
	background-image: url(images/close.png);
	top: 21px;
	right: -230px;
	z-index: 7;
}

.feed {
	position: absolute;
	font-family: "Delicious Roman Italic";
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	background-color: white;
	top: 35px;
	left: 0;
	overflow: hidden;
}

.feedA {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #f0f1f6;
	border: 1px solid #c0c1c6;
	font-size: 30px;
	display: block;
	overflow-y: hidden;
	cursor: pointer;
}
.feedA:hover, .feedB:hover, .feedC:hover, .feedD:hover {
	background-color: #e0e1e6;
}

.feedA span {
	display: block;
	font-style: normal;
	font-weight:normal;
	font-family: Verdana;
	font-size: 20px;
}

.feedB {
	cursor: pointer;
	border: 1px solid #c0c1c6;
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 25%;
	background-color: #f0f1f6;
	font-size: 24px;
	display: block;
	overflow-y: hidden;
}

.feedB span {
	display: block;
	font-style: normal;
	font-weight:normal;
	font-family: Verdana;
	font-size: 14px;
}

.feedC {
	cursor: pointer;
	border: 1px solid #c0c1c6;
	position: absolute;
	left: 50%;
	width: 25%;
	height: 25%;
	background-color: #f0f1f6;
	font-size: 20px;
	display: block;
	overflow-y: hidden;
}

.feedC span {
	display: block;
	font-style: normal;
	font-weight:normal;
	font-family: Verdana;
	font-size: 10px;
}

.feedD {
	cursor: pointer;
	border: 1px solid #c0c1c6;
	position: absolute;
	width: 25%;
	height: 25%;
	background-color: #f0f1f6;
	font-size: 20px;
	display: block;
	display: block;
	overflow-y: hidden;
}

.feedD span {
	display: block;
	font-style: normal;
	font-weight:normal;
	font-family: Verdana;
	font-size: 10px;
}

.feedA img {
	margin: 10px 0;
	max-height: 100%;
	max-width: 100%;
	display: block;
}

.feedB img {
	margin: 10px 0;
	max-height: 65%;
	max-width: 65%;
	display: block;
}

.feedC img, .feedD img {
	margin: 10px 0;
	max-height: 50%;
	max-width: 50%;
	display: block;
}

#iframe {
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 1002;
	padding-top: 25px;
	display: none;
}

#iframe iframe {
	position: fixed;
	width: 80%;
	height: 100%;
	left: 10%;
	z-index: 13;
	border: 2px solid #c0c1c6;
}

#feedNav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #c0c1c6;
	height: 35px;
	display: none;
}

#feedNav #home {
	background-image: url(images/home.png);
	width: 32px;
	height: 32px;
	margin-left: 10px;
	cursor: pointer;
	float: left;
}

#feedNav #pages {
	margin: auto;
	width: 200px;
	height: 32px;
	margin-top: 1px;
	text-align: center;
}

#feedNav #pages span {
	background-color: #e0e1e6;
	border: 1px solid #a0a1a6;
	border-radius: 10px;
	width: 18px;
	height: 18px;
	display: inline-block;
	margin: 6px 2px;
	text-align: center;
	line-height: 16px;
	font-size: 13px;
	font-family: Verdana;
	cursor: pointer;
}

#feedNav #pages span:hover {
	background-color: #f0f1f6;
}

#feedNav #pages span.goto_selected {
	background-color: white;
}